body{
  background-color:#f3f3f3;
  border: 10px solid red;
}


.head{
  height:100px;
  width:80%;
  margin:0 auto;
  background-color: #1e1e1e;
  text-align: center;


}
.title{
  width:20%;
margin: 0 auto;
  font-weight: 40px;
  font-size: 80px;
  line-height:100px;
  color:white;
}
.main{
  height:240px;
  width:100%;

}
.photo{
  float:left;
  margin-right: 30px;
  margin-left: 150px;
  margin-top: 30px;
  height:200px;
  width:170px;
  border: 3px solid black;
  background-image: url(pic1.jpg);
  background-repeat: no-repeat;
  background-position:center;
  background-size: cover;
}
.info{
  float:left;
  margin-top: 30px;
  margin-left: 100px;
  line-height: 40px;
  width: 60%;
}

.edu{

  width:80%;
  margin:10px auto;

}
.education{
  padding-top: 10px;
  padding-left: 30px;
  height:450px;
  width:80%;
  margin:10px auto;
  background-color: black;
  color:white;
  font-size: 20px;
  font-weight: 10px;
  line-height: 10px;
}
.education1{
  padding-top: 10px;
  padding-left: 30px;
  height:500px;
  width:80%;
  margin:10px auto;
  background-color: black;
  color:white;
  font-size: 20px;
  font-weight: 10px;
  line-height: 30px;
}
.education2{
  padding-top: 10px;
  padding-left: 30px;
  height:350px;
  width:80%;
  margin:10px auto;
  background-color: black;
  color:white;
  font-size: 20px;
  font-weight: 10px;
  line-height: 30px;
}
a{
  font-size: 20px;
  text-align: center;
  color:white;
}

.education3{
  padding-top: 10px;
  padding-left: 30px;
  height:300px;
  width:80%;
  margin:10px auto;
  background-color: black;
  color:white;
  font-size: 20px;
  font-weight: 10px;
  line-height: 30px;
}
.education4{
  padding-top: 10px;
  padding-left: 30px;
  height:100px;
  width:80%;
  margin:10px auto;
  background-color: black;
  color:white;
  font-size: 20px;
  font-weight: 10px;
  line-height: 30px;
}
