.menu
{
	float: left;
	margin-right: 15px;
	margin-left: 25px;
	font-size: 27px;
    font-family: 'Literata', serif;
	padding-left: 10px;
	padding-right: 10px;
	text-decoration: none;
    border-radius: 10%;
    color:#b33c00;
    padding-right: 4px;
    text-decoration: none;
    text-shadow: 2px 2px #fff;
}
a:hover {
  color: black;
  background-color:#F7DC6F;
}
.login_div
{
	margin-left: 10px;
	height: 500px;
	width: 90%;
	background-color: red;
}
.login_input
{
	height: 20px;
	width: 30%;
}
.login_label
{
	font-size: 22px;
	color: white;
	margin-left: 5px;
}
input:hover
{

	border: 2px solid #C93B0A;
}
button:hover
{
	border: 2px solid pink;
	background-color: brown;
    font-size: 22px;
}
input[type="submit"]:hover
{
	border: 2px solid #C93B0A;
}
input[type="button"]:hover
{
	border: 2px solid #C93B0A;
}
.contactus_div
{
	width: 65%;
	height: 600px;
	background-color: red;
	margin-left: 5px;
	padding-right: 4px;

}
.gallery_div1
{
	width: 40px;
	height: 30px;
	background-color: red;
}
.gallery_div
{
	width: 100%;
	height: 700px;
	background-color: blue;
}
.footer
{
	width: 100%;
	height: 100px;
  float: left;
  background-color: #34495E;
}

.social
{
	border-radius: 50%;
	margin-top: 50px;
	float: left;
	height: 70px;
	width: 70px;
	margin-left: 65px;
}
.cls0
{
	height: 1200px;
	width: 100%;
}
.cls1
{

	height: 100px;
	width: 100%;
	border: 4px solid #1e1e1e;
	padding-top: 23px;
	background-color: #ffbf00;
}
.cls2
{

	float: left;
	height: 500px;
	width: 69%;
}
.cls3
{
	margin-left: 5px;
	float: left;
	height: 500px;
	width: 29%;
	border: 1px solid red;

}
.cls4
{
  height: 500px;
	width: 69%;
	padding-left: 10px;
  float:left;

}

.rytimg{
width:29%;
height:450px;
float:left;
margin-left: 10px;
margin-top: 20px;


}



.cls5
{
	height: 130px;
	width: 95px;
	margin-top: 21px;
	float: left;
	margin-left: 10px;

	border: 1px solid black;
}
.cls6
{
	height: 130px;
	width: 245px;
	margin-top: 21px;
	float: left;
	margin-right: 5px;
	 margin-left: 10px;
	background-color: #eee;
    font-family: 'DM Serif Display', serif;
	padding-left:10px;
	font-size: 17px;
	border: 2px solid black;
}

.desc
{
    text-decoration: none;
    color:brown;
    font-weight: 40px;
    font-size: 22px;
    text-shadow: 2px 2px 8px #1e1e1e;

  }
